 body{
     
     background-color: white;
    
 }
 
 .jumbotron{
    background:#000 url(../CSS/d80_leef.jpg) no-repeat center center;
    height: 300px;

    
}
 .jumbotron h1{
     color: #000;

 }

 .jumbotron p{
     color: #fff;
 }
.introduction img{
    float: left;
    margin: 10px 20px 10px 0px;
    border-radius: 180px;
}
.introductio p{
    float: left;
}
#firstAnswer{
    display: none;
}

.morecontent{
    display: none;
}
